.m-list9 li {
    float: left;
    width: 33.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom:20px:
    overflow: hidden;}
.m-list9 .pic {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 30px;
    overflow: hidden;}
.m-list9 .txt {
    height: 120px;
    overflow: hidden;
    padding-top: 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    word-break: break-all;
    overflow: hidden;}
    line-height: 30px;}
.m-list9 .txt h4 {
    font-size: 20px;
    margin-bottom: 7px;}
.m-list10 {
    padding-top: 30px;}
.m-list10 li {
    margin-bottom: 1px;}
.m-list10 .tit {
    font-size: 18px;
    color: #333;
    line-height: 55px;
    font-weight: normal;
    padding-left: 30px;
    background: #ededed url(../images/icon1.png) no-repeat right 30px center;
    background: #ededed url(../images/icon1.png) no-repeat 760px center\0;
    position: relative;
    cursor: pointer;}
.m-list10 .tit:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #333;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -4px;}
.m-list10 li:first-child .con {
    display: block;}
.m-list10 li .con {
    display: none;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    overflow-x:scroll;}
.m-list10 table {
    min-width: 40em;
    font-size: 14px;
    color: #000;
    table-layout: fixed;
    line-height: 24px;}
.m-list10 table td:first-child {
    padding-left: 30px;}
.m-list10 table td {
    padding: 11px 0;}
.m-list10 li.openli .tit {
    color: #a40000;
    font-size: 20px;
    font-weight: bold;
    background-image: url(../images/icon2.jpg);}


@media screen and (max-width: 600px){
  .m-list9 li{
    width: 100%;}
}

.mclb{width: 100% !important;
    background: #94070a;margin-top: 20px;}
    
 .mclb h2{width:100% !important;text-align: center !important;}   
  .mclb  b{color:#fff;}
